@import url('https://fonts.googleapis.com/css?family=Oswald|PT+Serif&display=swap');

body:root {
  --paragraphText: 'PT Serif', Sans-Serif;
  --headingText: Oswald, sans-serif;
  --navigationText: Oswald, sans-serif;
}

body {
  background-color: #F9F9F9
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--headingText)
}

ul.nav {
  list-style-type: none;
  overflow: hidden;
  background-color: #7AE4BD;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

li a {
  color: black;
  text-align: center;
  padding: 3px 15px;
  text-decoration: none;
}

li a:hover {
  background-color: white;
  color: black;
}

.nav a {
  text-decoration: none;
  font-size: 1.5em;
  text-transform: capitalize;
  color: black;
  font-family: var(--navigationText);
}

.button {
  background-color: #072DD5;
  border: none;
  color: white;
  padding: 3px 18px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
}

.sr-only {
  position: absolute;
  top: auto;
  left: -10000px;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

img {
  width: 55%;
  border-style: solid;
  border-color: #3CCA96;
  border-width: 2px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  margin-left: 80px;
}

h2 {
  font-family: 'Oswald', sans-serif;
  font-size: 20pt;
}

p {
  font-size: 14pt;
  font-family: 'PT Serif', serif;
}

.smallp {
  font-size: 11pt;
  font-family: 'PT Serif', serif;
}

footer {
  background-color: #EAEAEA;
  height: 300px;
  width: auto;
  margin-top: 80px;
  margin-bottom: 10px;
  margin-right: 0px;
  margin-left: 0px;
}

h4 {
  font-family: 'Oswald', sans-serif;
  font-size: 16pt;
}

section {
  font-size: 12pt;
  font-family: 'PT Serif', serif;
  display: block;
  width: 40%;
  padding: 15px;
  border: 10px solid #F9F9F9;
  background-color: #A3D9FF;
  display: inline-block;
  align-items: center;
}

section:hover {
  box-shadow: 10px 10px 10px 10px #072DD5;
}

.sec1 {
  font-size: 12pt;
  font-family: 'PT Serif', serif;
  width: 100%;
  background-color: #F9F9F9;
}