body {
  background-color: #F9F9F9
}

ul.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #3CCA96;
}

li.left {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 85px;
  text-decoration: none;
}

li a:hover {
  background-color: #CDCDCD;
}

.button {
  background-color: #072DD5;
  border: none;
  color: white;
  padding: 3px 18px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
}

img {
  width: 55%;
  border-style: solid;
  border-color: #3CCA96;
  border-width: 2px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  margin-left: 80px;
}

.left {
  text-align: left;
  font-color: bleck;
}

h2 {
  font-family: 'Oswald', sans-serif;
  font-size: 20pt;
}

p {
  font-size: 14pt;
  font-family: 'PT Serif', serif;
}

footer {
  background-color: #CDCDCD;
  height: 200px;
  width: auto;
  margin-top: 80px;
  margin-bottom: 10px;
  margin-right: 0px;
  margin-left: 0px;
}

h4 {
  font-family: 'Oswald', sans-serif;
  font-size: 16pt;
}

section {
  font-size: 12pt;
  font-family: 'PT Serif', serif;
  display: block;
  width: 40%;
  padding: 15px;
  border: 10px solid #F9F9F9;
  background-color: #A3D9FF;
  display: inline-block;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}